<div class="row">
    <div class="col-6">

        <app-grafica-dona 
        title="Proyectos"
        [labels]='labels1'
        [data]='data1'></app-grafica-dona>
    </div>
    <div class="col-6">

        <app-grafica-dona 
        title="Almacen"
        [labels]='labels2'
        [data]='data2'>
        ></app-grafica-dona>

    </div>
</div>
<div class="row">
    <div class="col-8">
       

               <app-grafica-barras
               title="Etradas y salidas"></app-grafica-barras>

          

    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">

                Grafica

            </div>
        </div>
    </div>