<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
<div class="card-body">
    <input type="text" class="form-control" placeholder="Buscar proyecto"
    (keyup)="buscar(termino.value)"
    #termino />
</div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>



<div  class="card" *ngIf="!cargando" >
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Total de proyectos: ({{proyectos.length}} - {{pagination}}) </h4>
         
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <button [routerLink]="['/dashboard/proyecto','nuevo']" class="btn btn-themecolor">
                                <i class="fa fa-plus-circle"></i>
                                Agregar proyecto
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table full-color-table full-inverse-table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th class="w180-c">Nombre</th>
                                <th class="w180-c">Cliente</th>
                                <th class="w100-c">Encargado</th>
                                <th>Completado</th>
                                <th class="text-center">Ver bajas</th>
                                <th class="">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let proyecto of proyectos" >
                              
                            <td class="" >
                                 {{proyecto.name}}
                          </td>
                                     
                                    <td class="w180-c">
                                        {{proyecto.client}}
                                      </td>

                                        <td class="text-nowrap w180-c">
                                            {{proyecto.manager}} 
                                        </td>
                                        <td class="text-nowrap w100-c">
                                            <span *ngIf="proyecto.complete" class="label label-success">Completado</span>
                                            <span *ngIf="!proyecto.complete" class="label label-inverse">No completado</span>
                                           
                                        </td>
                                        <td class="text-nowrap text-center" >
                                            <a [routerLink]="['/dashboard/proyecto-bajas',proyecto._id]"  class="cursor" data-toggle="tooltip" data-original-title="Ver bajas del proyecto"> 
                                                <i class="mdi mdi-eye text-info"></i> </a>
                                            
                                            <!-- <p *ngFor="let salida of proyecto.outputs; let i = index">
                                            Articulo:{{salida.article}}
                                            Cantidad:{{salida.quantity}}
                                         </p> -->

                                        </td>

                                <td class="text-nowrap w100">
                                   
                                    <a (click)="completarProyecto(proyecto)"  class="cursor" data-toggle="tooltip" data-original-title="Finalizar proyecto"> 
                                        <i class="mdi mdi-briefcase-check  text-info"></i> </a>
                                        &nbsp;
                                        &nbsp;
                                    <a  [routerLink]="['/dashboard/proyecto',proyecto._id]"  class="cursor" data-toggle="tooltip" data-original-title="Editar"> 
                                        <i class="fa fa-pencil  text-info"></i> </a>
                                        &nbsp;
                                        &nbsp;
                                    <a  (click)="eliminarProyecto(proyecto);" class="cursor" data-toggle="tooltip" data-original-title="Borrar"> 
                                        <i class="fa fa-trash text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div  *ngIf="termino.value.length===0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button>
                    &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                </div>
        
            </div>
        </div>
    </div>
    
</div>

