.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.51s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
#themecolors .selector,.cursor{
    cursor: pointer;
}
swal2-styled.swal2-confirm.swalBtnColor {
    color: #00ff88
  }
  .perfilImagen{
      justify-content: center;
      width: 200px;
      height: 200px;
      margin: auto; display: block; 
  }
  .icon-white {color: white;}

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #dbdbdb!important;
    color: black;
  }
 
  .w100{
    width: 100px; 
    text-align: center;
  }
  .w140{
    width: 150px; 
  }
  .avatar{
      width: 45px;
      
      border: .5px gainsboro solid;

  }
  .fondo-modal-imagen{
    background-color: rgba(0, 0, 0, 0.4);
    left: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 10px;
    width: 100%;
    z-index: 9999;
    

  }
  .oculto{
    display: none;
  }