<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
<div class="card-body">
    <input type="text" class="form-control" placeholder="Buscar usuario"
    (keyup)="buscar(termino.value)"
    #termino />
</div>
        </div>
    </div>
</div>
<div class="row animated fadeIn fast"
*ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>
<div *ngIf="!cargando" class="card">
    <div class="card-body">
        <h4 class="card-title">Total de usuarios ({{totalUsuarios}}) - {{pagination}}</h4>
        <div class="table-responsive">
            <table class="table full-color-table full-inverse-table table-striped table-hover ">
                <thead>
                    <tr>
                        <th class="w100">Imagen</th>
                        <th>Nombre</th>
                        <th class="w220">Usuario</th>
                        <th class="w220">Role</th>
                        <th class="w100">Estatus</th>
                        <th class="w100">Acciones</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td class="w100">
                            <img [src]="usuario.imgUrl" alt="Avatar" class="avatar cursor"
                            (click)="abrirModal(usuario)"> 
                        </td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.user}}</td>
                        <td class="w220" >
                            <select class="form-control"
                            [(ngModel)]="usuario.role"
                            (change)="cambiarRole(usuario)">
                                <option value="ADMIN">ADMIN</option>
                                <option value="USER">USER</option>

                            </select></td>
                        <td class="text-nowrap w100">
                            <a *ngIf="usuario.activate" data-toggle="tooltip" data-original-title="Activado"> <i class="fa fa-check text-success m-r-10"></i> </a>
                            <a *ngIf="!usuario.activate" data-toggle="tooltip" data-original-title="Desactivado" > 
                                <i class="fa fa-close text-danger"></i></a>
                        </td>
                        <td class="text-nowrap w100">

                            <a *ngIf="!usuario.activate" class="cursor"data-toggle="tooltip" data-original-title="Activar"
                            (click)="activar(usuario)"> 
                                <i class="mdi mdi-account-plus text-success"></i> </a>
                               
                            <a *ngIf="usuario.activate" class="cursor"data-toggle="tooltip" data-original-title="Desctivar"
                            (click)="desactivar(usuario)"> 
                                <i class="mdi mdi-account-minus text-danger"></i> </a>
                                &nbsp;
                                &nbsp;
                            <a *ngIf="!usuario.activate" class="cursor"data-toggle="tooltip" data-original-title="Borrar"
                            (click)="eliminarUsuario(usuario)"> 
                                <i class="fa fa-trash text-danger"></i> </a>
                                &nbsp;
                                &nbsp;
                               
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div  *ngIf="termino.value.length===0">
            <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button>
            &nbsp;
            <button  (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
        </div>

    </div>
</div>