<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-10 align-self-center"><span class="lstick m-r-10"></span></div>
                    <div class="align-self-center">
                        <h6 class="text-inverse m-t-6 m-b-0">Proyectos en proceso</h6>
                        <h2 class="m-t-0">{{totalIncompletos}}</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-10 align-self-center"><span class="lstick m-r-10"></span></div>
                    <div class="align-self-center">
                        <h6 class="text-inverse m-t-6 m-b-0">Proyectos completos</h6>
                        <h2 class="m-t-0">{{totalCompletos}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-10 align-self-center"><span class="lstick m-r-20"></span></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-6 m-b-0">Total usuarios</h6>
                        <h2 class="m-t-0">{{totalUsuarios}}</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div id="inam" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4" *ngFor="let articulo of articulosAlto">
						 			<div class="card"  style="width: 300px;margin: auto;">
                                        <img src="{{urlImg}}{{articulo.img}}" alt="Articulo" class="card-img-top">
						 				<div class="card-body text-center">
						 					<h4 class="card-title">{{articulo.name}}</h4>
						 					<p class="card-text">{{articulo.quantity}} </p>
						 					<button type="button" class="btn btn-success text-center">Agregar articulo</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		<!-- <div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="images/b.jpg" class="card-img-top">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you should use skin masks ?</h4>
						 					<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
						 					<button type="button" class="btn btn-warning">Read More</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div> -->
						 		<!-- <div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="images/c.jpg" class="card-img-top">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you should use skin masks ?</h4>
						 					<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
						 					<button type="button" class="btn btn-warning">Read More</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div> -->
						 		
						 	</div>
						 	
						 </div>

						
					</div>
					<!-- <div class="carousel-item">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;margin: auto;">
						 				<img src="images/d.jpg" class="card-img-top">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you should use skin masks ?</h4>
						 					<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
						 					<button type="button" class="btn btn-warning">Read More</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="images/e.jpg" class="card-img-top">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you should use skin masks ?</h4>
						 					<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
						 					<button type="button" class="btn btn-warning">Read More</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="images/f.jpg" class="card-img-top">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you should use skin masks ?</h4>
						 					<p class="card-text">Skin masks help us to make are skin fresh and also they protect our skin from the harm rays of sun</p>
						 					<button type="button" class="btn btn-warning">Read More</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		
						 	</div>
						 	
						 </div>

						
					</div> -->
					
				</div>
				<a (click)="cambiarPagina(-3)" href="#inam" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a (click)="cambiarPagina(+3)" href="#inam" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
				
			</div>
			
		</div>
		
	</div>
	
</div>
<app-grafica-dona></app-grafica-dona>
